/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;700;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}


/* Tablet device */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .home-title {
        font-size: 55px;
    }
   .institute-details > .details-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
   }

}

/* Mobile device */
@media only screen and (min-width: 300px) and (max-width: 767px) {
    .home-title {
        font-size: 20px;
    }
    .home-text{
        font-size: 11px;
        margin-bottom: 17px;
    }
    .home-button{
        margin-bottom: -74px;
    }
   .institute-details > .details-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
   }
   .course-img{
    max-height: 190px;
    width: 343px;
   }
   .joining-title{
    text-align: center;
   }

}